/* Importing font Karla */
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

/* Importing font inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-content {
    max-width: 500px;
    margin-inline: auto;
    border-radius: 10px;
    padding: 4rem 2rem;
    background-color: #1F2937;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: white;
    font-family: inter;
}

.main-content__title {
    grid-column: span 2;
    font-family: karla;
}

.main-content__title--color-green {
    color: #55F991;
}

.main-content__text {
    grid-column: span 2;
}

.main-content__text--display-none {
    visibility: hidden;
}

.main-content__submit-button {
    padding: 0.5rem;
    margin-top: 2rem;
    height: 2rem;
    grid-column: span 1;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    background: #10B981;
}

.main-content__submit-button:active {
    background: #55F991;
}

.main-content__inner-grid {
    display: grid;
    align-items: end;
    margin: 2rem 0;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    grid-column: span 2;
}

.main-content__container {
    grid-column: span 1;
}

.main-content__input {
    margin-top: 1rem;
    height: 2rem;
    font-size: 1.2rem;
    width: 30%;
}

.main-content__checkbox {
    transform: scale(2);
    margin: 1rem 0.5rem 1rem 1rem;
}


.main-content__line {
    grid-column: span 2;
    opacity: 15%;
}

.main-content__output {
    height: 2rem;
    width: 100%;
    padding: .5rem;
    background: #273549;
    color: #55F991;
    display: flex;
    cursor: pointer;
    word-break: break-all;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    grid-column: span 1;
}